* {
	box-sizing: border-box;
}

body {
	font-family: Arial;
	padding: 10px;
	background-color: #deeaee;
}

.header {
	padding: 30px;
	text-align: center;
	background: white;
	background-color: #deeaee;
}

h3 {
	padding: 10px;
	font-size: 25px
}


