* {
	box-sizing: border-box;
}

body {
	font-family: Arial;
	padding: 10px;
}

.header {
	padding: 30px;
	text-align: center;
	background: white;
}

h3 {
	padding: 10px;
	font-size: 25px
}

.input-form{
	padding: 10px
}
.button-form{
	padding: 10px
}

.input-form div{
	padding: 20px 5px;
}

