* {
	box-sizing: border-box;
}

body {
	font-family: Arial;
	padding: 10px;
}

.header {
	padding: 30px;
	text-align: center;
	background: white;
}

.header h1 {
	font-size: 50px;
}

.topnav {
	overflow: hidden;
	background-color: #333;
}

.topnav-link {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	display: flex;
	justify-content: space-around;
}

.data-table {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 80%;
	margin: 0 auto;
}

.data-table td, .data-table th {
	border: 1px solid #ddd;
	padding: 8px;
}

.data-table tr:nth-child(even) {
	background-color: #f2f2f2;
}

.data-table tr:hover {
	background-color: #ddd;
}

.data-table th {
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #6699ff;
	color: white;
}

.service-table {
	font-size: 30px;
	color: blue;
}

.beschreibung {
	width: 5cm;
}

.url {
	width: 15cm;
}

.userId {
	width: 5cm;
}

.likes {
	width: 5cm;
}

likeButon {
	width: 5cm;
}