* {
	box-sizing: border-box;
}

body {
	font-family: Arial;
	padding: 10px;
	background-color: #deeaee;
}

a:hover {
	color: #6495ed;
}

.header {
	padding: 30px;
	text-align: center;
	background: white;
	background-color: #deeaee;
}

.header h1 {
	font-size: 50px;
}

.data-table {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: auto;
	table-layout: auto;
	margin-top: 20px;
	margin-right: 50px;
}

.data-table td, .data-table th {
	border: 1px solid #ddd;
	padding: 8px;
}

.data-table tr:nth-child(even) {
	background-color: #f2f2f2;
}

.data-table tr:hover {
	background-color: #ddd;
}

.data-table th {
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #c94c4c;
	color: white;
}

.service-table {
	font-size: 30px;
	color: blue;
}

.category {
	width: 3cm;
}

.beschreibung {
	width: 5cm;
}

.url {
	width: 15cm;
	max-width: 15cm;
}

.userId {
	width: 5cm;
}

.likes {
	width: 3cm;
}

.likeButton {
	width: 5cm;
}

.deleteButton {
	width: 5cm;
}

/* Pdf Tab header*/
.ui-accordion .ui-accordion-header {
	background-color: #b1cbbb;
}

.ui-accordion .ui-accordion-header:hover {
	background-color: #9fc1fd;
}

/* Pdf Tab*/
.ui-accordion .ui-accordion-content {
	background-color: #deeaee;
}

.accordionPanel {
	width: 20cm;
	margin-top: 30px;
	margin-left:auto;
	margin-right: auto;
	margin-bottom: auto;
	width: 65%;
}