* {
	box-sizing: border-box;
}

body {
	font-family: Arial;
	padding: 10px;
}

a:hover {
	color: #6495ed;
}

.header {
	padding: 30px;
	text-align: center;
	background: white;
}

.header h1 {
	font-size: 50px;
}

div#filter{
	margin: 10px !important;
}
.data-table {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	margin: 20px;
}

.data-table td, .data-table th {
	border: 1px solid #ddd;
	padding: 8px;
}

.data-table tr:nth-child(even) {
	background-color: #f2f2f2;
}

.data-table tr:hover {
	background-color: #ddd;
}

.data-table th {
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #6699ff;
	color: white;
}

.service-table {
	font-size: 30px;
	color: blue;
}

.category {
	width: 3cm;
}

.beschreibung {
	width: 5cm;
}

.url {
	width: 15cm;
}

.userId {
	width: 5cm;
}

.likes {
	width: 3cm;
}

.likeButton {
	width: 5cm;
}

.deleteButton {
	width: 5cm;
}